{% extends "base.html" %}
{% load static %}
{% block content %}
      <section class="site-section pt-5 pb-5">
        <div class="container">
          <div class="row">
            
            <div class="col-md-12">

              <div class="owl-carousel owl-theme home-slider">
                {% for data_carouser in post %}
                <div>
                  <a href="{% url 'blog_page' data_carouser.id %}" class="a-block d-flex align-items-center height-lg" style="background-image: url({{data_carouser.post_img.url}}); ">
                    <div class="text half-to-full">
                      <span class="category mb-5">{{data_carouser.tags.name}}</span>
                      <div class="post-meta">
                        
                        <span class="author mr-2"><img src="{{data_carouser.aurthor_photo.url}}" alt="{{data_carouser.author_name}}"> {{data_carouser.author_name}}</span>&bullet;
                        <span class="mr-2">{{data_carouser.date}} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        
                      </div>
                      <h3>{{data_carouser.title}}</h3>
                      <p>{{data_carouser.content | slice:"0:100"}}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              
            </div>
          </div>
          
        </div>
      </section>
      <!-- END section -->

      <section class="site-section py-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mb-4">Latest Posts</h2>
            </div>
          </div>
          <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
              <div class="row">
                {% for post_data in post %}
                <div class="col-md-6">
                  <a href="{% url 'blog_page' post_data.id %}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                    <img src="{{post_data.post_img.url}}" alt="Image placeholder">
                    <div class="blog-content-body">
                      <div class="post-meta">
                        <span class="author mr-2"><img src="{{post_data.aurthor_photo.url}}" alt="{{post_data.author_name}}"> {{post_data.author_name}}</span>&bullet;
                        <span class="mr-2"> {{post_data.date}} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
                      <h2>{{post_data.title}}</h2>
                    </div>
                  </a>
                </div>
                {% endfor %}

              </div>
            </div>
            {% include "staticParts\sidepar.html" %}
          </div>
        </div>
      </section>
      
      {% endblock content %}